---
import { Icon } from 'astro-icon'
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro'
import Button from '../components/smalls/Button.astro'
---

<Layout >
	<Header/>
	<section class="mx-auto px-7 flex flex-col items-center">
		<img src="/imgs/hero.png" alt="Alexis, desarrollador Frontend y Backend saliendo de un círculo amarillo.">
		<ul class="text-center text-2xl leading-9 mt-8">
			<li>
				<h3>Full Stack <strong class="text-sixYellow">Developer</strong></h3>
			</li>
			<li>
				<h3>Diseñador <strong class="text-sixYellow">Gráfico</strong></h3>
			</li>
		</ul>
			<Icon class="w-12 animate-bounce mt-9 text-sixYellow-400" name="ic:round-keyboard-arrow-down"/>
	</section>
	<!-- About Me -->
	<section class="mx-auto px-7 py-10 flex flex-col items-center">
		<div class="grid grid-cols-[60%_40%] place-items-center">
			<video
				class="[mask:url('/graphs/k-logo.svg')] [mask-repeat:no-repeat] [mask-size:contain]"
				autoplay muted loop poster="/graphs/k-logo.svg" src="/vid/video.webm">
			</video>
			<h4 class="text-4xl font-bold text-sixGreen">¡Hola!</h4>
		</div>
		<div class="text-sm text-center mt-12 grid gap-3">
			<p><strong>Full Stack Developer</strong> con experiencia en React, Node, Express y Postgres. También habilidades en HTML, CSS, Sass, Javascript, MySQL, GIT y Github.</p>
			<p>Mi objetivo es crear productos con tecnología moderna que ayuden a <strong>ahorrar tiempo</strong> y mejorar la <strong>eficiencia</strong> de las empresas.</p>
			<p>A continuación verás algo de mi experiencia.</p>
		</div>
		<Button className="mt-6 mx-auto">
			<strong>Descarga</strong> mi CV
		</Button>
	</section>

	<!-- Experiencia -->
	<section class="min-h-screen bg-sixDark">

	</section>
</Layout>