---
import axios from 'axios'
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="Login">
  <Header />
  <form class="pt-36 max-w-2xl mx-auto grid gap-6 justify-items-center" id="form">
    <label for="email"
      >Email
      <input name="email" type="email" />
    </label>
    <label for="password"
      >Password
      <input name="password" type="password" />
    </label>
    <button class="p-3 px-5 border border-brand-yellow rounded-full">Loguearse</button>
  </form>
  <div class='mt-6 mx-auto max-w-2xl text-center'> 
    <p>¿No tenés una cuenta en mi super página?</p>
    <a class="font-bold text-brand-yellow" href="/signup">Crear cuenta</a>
  </div>
  <Footer />
</Layout>

<script>
  import { apiEnvs } from "../utils/apiEnvs";
  import { ENVIRONMENT } from "../utils/consts";
  const apiUrl = apiEnvs(ENVIRONMENT)
  const $ = (selector: string) => document.querySelector(selector)
  const $form = $("#form")

  $form!.addEventListener("submit", e => {
    e.preventDefault()

    // @ts-ignore
    const formData = Object.fromEntries(new FormData(e.target))
    const errorMsg = document.createElement('p')

    fetch(`${apiUrl}/v1/auth/login`, {
      method: 'POST',
      body: JSON.stringify(formData),
      headers: {
        "Content-Type": "application/json"
      },
      credentials: "include"
    })
      .then(res => {
        if (res.ok) window.location.href = '/paranovolver'
      })
      .catch(err => {
        errorMsg.innerText = `Ocurrió un error: ${err}`
        document.body.appendChild(errorMsg)
      })
  })
</script>
