---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nueva noticia' noRobots>
  <Header />
  <form class='pt-36 flex flex-col max-w-lg mx-auto [&_input]:rounded-md [&_textarea]:rounded-md'  id='form'>
    <label class='grid px-3 py-1' for='title'
      >Título
      <input class='grid px-3 py-1' name='title' type='text' />
    </label>
    <label class='grid px-3 py-1' for='body'
      >Texto
      <textarea class='grid px-3 py-1 w-full' name='body'></textarea>
    </label>
    <label class='grid px-3 py-1' for='link'
      >Link
      <input class='grid px-3 py-1' name='link' type='url' />
    </label>
    <div class='mx-auto mt-3'>
      <input
        class='px-3 py-1 bg-brand-dark text-brand-light'
        type='submit'
        value='Crear noticia'
      />
    </div>
  </form>
  <Footer />
</Layout>
<script>
  import { apiEnvs } from '../utils/apiEnvs';
  import { ENVIRONMENT } from '../utils/consts';
  const apiUrl = apiEnvs(ENVIRONMENT)
  const $form = document.querySelector('#form')

  $form!.addEventListener('submit', (e) => {
    e.preventDefault()

    // @ts-ignore
    const formData = Object.fromEntries(new FormData(e.target))
    const body = JSON.stringify(formData)

    fetch(`${apiUrl}/v1/news`, {
      method: 'POST',
      body,
      headers: {
        'Content-Type': 'application/json'
      },
      credentials: 'include'
    })
      .then(res => {
        if(res.ok) window.location.href ='/paranovolver'
      })
      .catch(err => {
        console.log(err)
        window.location.href ='/login' 
      })
  })
</script>
