---
import Icon from 'astro-icon'
---

<footer class="py-6 px-7 grid gap-4">
  <div class="text-center">
    <h5 class="text-sm text-brand-green font-bold py-2">No dudes en escribirme</h5>
    <p class="text-2xl">hola@alexisklisch.com</p>
  </div>
  <div class="text-center">
    <h5 class="text-sm text-brand-green font-bold py-4">Mis redes sociales</h5>
    <ul class="grid grid-flow-col place-items-center max-w-md mx-auto [&_a]:opacity-50 hover:[&_a]:opacity-100 transition-all [&_a]:transition-all">
      <li><a href="https://linkedin.com/in/alexisklisch"><Icon class="w-10" name="mdi:linkedin"/></a></li>
      <li><a href="https://linkedin.com/in/alexisklisch"><Icon class="w-10" name="mdi:twitter"/></a></li>
      <li><a href="https://linkedin.com/in/alexisklisch"><Icon class="w-10" name="mdi:github"/></a></li>
      <li><a href="https://linkedin.com/in/alexisklisch"><Icon class="w-10" name="ic:baseline-tiktok"/></a></li>
    </ul>
  </div>
</footer>