---
interface Props {
  className?: string;
  as: "a" | "btn";
  href: string
}

const { className, as, href } = Astro.props;
---

{
  as === "btn" ? (
    <button
      class={`bg-brand-dark text-brand-light p-4 px-6 rounded-md text-xs tracking-wider cursor-pointer max-w-xs select-none shadow-brand-dark/50 shadow-md ${className}`}
    >
      <slot />
    </button>
  ) : (
    <a href="/assets/CV.pdf" target="_blank"
      class={`bg-brand-dark text-brand-light p-4 px-6 rounded-md text-xs tracking-wider cursor-pointer max-w-xs select-none shadow-brand-dark/50 shadow-md ${className}`}
    >
      <slot />
    </a>
  )
}
