<figure class="flex flex-col items-center w-fit gap-1 z-20">
  <img src="/graphs/logo-alexis-klisch.svg" alt="Logo de Alexis Klisch">
  <span class="font-bold text-xs select-none">Alexis Klisch</span>
</figure>