<div class="py-6 px-12 pt-28 mt-6 w-full min-w-[320px] max-w-lg bg-brand-light/75 rounded-md rounded-tr-none rounded-br-none backdrop-blur-md fixed -right-full transition-all opacity-0" id="menu">
  <ul class="px-9 pt-16 text-center">
    <li><a class="text-lg font-bold" href="#about">About me</a></li>
    <li><a class="text-lg font-bold" href="#education">Education</a></li>
    <li><a class="text-lg font-bold" href="#portfolio">Portfolio</a></li>
    <li><a class="text-lg font-bold" href="#contact">Contact</a></li>
  </ul>
  <ul class="flex justify-between max-w-xs mx-auto mt-6 [&_a]:opacity-50 hover:[&_a]:opacity-100 [&_a]:transition-all">
    <li>
      <a href="https://www.linkedin.com/in/alexisklisch" target="_blank">
        <img src="/graphs/logo-linkedin.svg" alt="Linkedin Logo" />
      </a>
    </li>
    <li>
      <a href="https://www.github.com/alexisklisch" target="_blank">
        <img src="/graphs/logo-github.svg" alt="Github Logo" />
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com/alexisklisch" target="_blank">
        <img src="/graphs/logo-twitter.svg" alt="Twitter Logo" />
      </a>
    </li>
    <li>
      <a href="https://www.tiktok.com/@alexisklisch" target="_blank">
        <img src="/graphs/logo-tiktok.svg" alt="Tiktok Logo" />
      </a>
    </li>
  </ul>
</div>
