---
import { Icon } from 'astro-icon'
interface Props {
  techs: string[]
}
const { techs } = Astro.props
---

<footer>
  <h5 class="text-center text-sixDark-200 py-2 text-xs">Tecnologías</h5>
  <ul class="flex justify-center px-3 gap-3 flex-wrap">
    {techs.map(tech => <li class="self-center"><Icon class="w-8" name={tech} /></li>)}

  </ul>
</footer>